<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vote.name %>
</p>

<p>
  <b>Title:</b>
  <%= @vote.title %>
</p>

<p>
  <b>Finance:</b>
  <%= @vote.finance %>
</p>

<p>
  <b>Skills:</b>
  <%= @vote.skills %>
</p>

<p>
  <b>Env:</b>
  <%= @vote.env %>
</p>

<p>
  <b>Culture:</b>
  <%= @vote.culture %>
</p>

<p>
  <b>Inf:</b>
  <%= @vote.inf %>
</p>

<p>
  <b>Diginf:</b>
  <%= @vote.diginf %>
</p>

<p>
  <b>Agglom:</b>
  <%= @vote.agglom %>
</p>

<p>
  <b>Market:</b>
  <%= @vote.market %>
</p>

<p>
  <b>Lifestyle:</b>
  <%= @vote.lifestyle %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
